<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"">
</head>
<body>
    <div class="Navbar">
        <div></div>
        <div>Home</div>
        <div>Contact</div>
        <div>Discussion</div>
        <div>Courses</div>
        <div>Courses</div>
    </div>
    <div class="Form">

        <form action="POST">
            
        </form>
    </div>
    <script src="{% static 'js/script.js' %}" async defer></script>
</body>
</html>