<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education | {% block title %} Login {% endblock %}</title>
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"">
</head>
<body>
    <div class="Navbar">
        <div></div>
        <a href="{% url 'Home' %}"><div class="ele">Home</div></a>
        <a href="{% url 'Contact Us' %}"><div class="ele">Contact</div></a>
        <a href="{% url 'Discuss' %}"><div class="ele">Discussion</div></a>
        <a href="{% url 'Catalog' %}"><div class="ele">Courses</div></a>
    </div>
    {% block content %}
    <div class="Form">
        <div style="padding-top: 22.54px;">
            <p>Welcome to <b>Education</b></p>
            <p style="font-family: Poppins;
            font-size: 55px;
            text-align: left;
            margin: 0;
            margin-bottom: 27.16;
            ">Sign Up</p>
        </div>
        
        <form action="POST" style="align-items: center;">
            <br><br>
            <div style="padding: 44px; padding-top: 0;">
                <label for="email">Email</label><br><br>
                <input class="input" type="email" name="email" placeholder="Email"><br><br>
                <div class="fl">
                    <div style="padding-right: 20px;">
                    <label for="username">Username</label><br>
                    <input class="input" style="width: 205px;" type="text" name="username" placeholder="Username">
                    </div>
                    <div>
                    <label for="Contact">Contact</label><br>
                    <input class="input" style="width: 224px;" type="text" name="Contact" placeholder="Contact">
                    </div>
                </div>
                <label for="password">Password</label><br><br>
                <input class="input" type="text" name="username" placeholder="Password">
                <div><br><br>
                    <input type="submit" class="input submit" value="Sign Up">
                </div>
            </div>
        </form>
    </div>
    {% endblock %}

    <script src="{% static 'js/script.js' %}" async defer></script>
</body>
</html>