body{
    background-image: url("../assets/Login.jpeg");
    background-size: 100%;
    color:white;
}

.Navbar{
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 47px;
    margin-left: 55px;
}


.Navbar a div{
    border: 1px solid white;
    backdrop-filter: blur(8px);
    color:white;
    text-decoration: none;
    border-radius: 60px;
    width: 154.6px;
    height: 40px;
    text-align: center;
    padding-top: 18px;
    margin: 0 5px;
    cursor: pointer;
}

.Navbar div{
    border: 1px solid white;
    backdrop-filter: blur(8px);
    color:white;
    border-radius: 37.78px;
    width: 55.21px;
}


.Navbar a div:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    transform: scale(110%);
}

.Form{
    width: 539px;
    height: 728px;
    background: rgba(0,0,0.5,0.5);
    box-shadow:1px 8px 5px #FFFFFF;
    border-radius: 0 0 25px 25px;
    margin: auto;
    margin-top: 40px;
    font-family: Poppins;
    padding: 20px;
}

.ele.active{
    animation: reverse;
}
.ele.active:hover{
    transform:scale(100%);
    transition: 0.5s;
}

a {
    all: unset;
}

h2{
    padding-top: 30px;
}

.input{
    border-radius: 9px;
    background: #232222;
    color: white;
    width:auto;
    width: 451px;
    height: 55.11px;
    border: 1px;
    border-color: white;
}

.fl{
    display: flex;
}

.input.submit {
    background-color: #0F3941; 
    font-size: medium; 
    font-weight: 1000;
    border-radius: 9px;
    color: white;
    width:auto;
    width: 451px;
    height: 55.11px;
    border: 1px;
    border-color: white;
}

.input.submit.active{
    transform: scale(90%);
    transition: 0.25s;
}