body{
    background-image: url("../assets/Login.jpeg");
    background-size: 100%;
    color:white;

}

.Navbar{
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 47px;
    margin-left: 55px;
}


.Navbar a div{
    border: 1px solid white;
    backdrop-filter: blur(8px);
    color:white;
    text-decoration: none;
    border-radius: 60px;
    width: 154.6px;
    height: 40px;
    text-align: center;
    padding-top: 18px;
    margin: 0 5px;
    cursor: pointer;
}

.Navbar div{
    border: 1px solid white;
    backdrop-filter: blur(8px);
    color:white;
    border-radius: 37.78px;
    width: 55.21px;
}


.Navbar a div:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    transform: scale(110%);
}

.Form{
    width: 539px;
    height: 728px;
    background: rgba(0,0,0.5,0.5);
    box-shadow:1px 8px 5px #FFFFFF;
    border-radius: 0 0 25px 25px;
    margin: auto;
    margin-top: 40px;
}

.ele.active{
    transform: scale(90.91%);
}
.ele.active:hover{
    transform:scale(100%);
    transition: 0.5s;
}

a {
    all: unset;
}

.Form{
    font-family: Poppins;
}

form div p{
    position: inherit;
    margin-top: 195.54px;
}